html, body {
    margin:0;
    padding:0;
}

.bkg {
    /*  */
    --bkg-color: white;
}

.bkg.dark-theme {
    /* --text-color: white; */
    --bkg-color: black;
}

.text {
    --text-color: black;
}

.text.dark-theme {
    --text-color: white;
}

body {
background: var(--bkg-color);
transition: all 0.5s ease-in-out;
}

h1, h2 {
color: var(--text-color);
transition: all 0.5s ease-in-out;
}

/* TEXT //////////////////////////////////////*/
h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    /* color: var(--text-color); */
}

h2, button, span {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    /* color: var(--text-color); */
}


/* LINKS ////////////////////////////////////*/
.link {
    --link-color: blue;
}

.link.dark-theme {
    --link-color: #FCFF69;
}

a {
    transition: all 0.5s ease-in-out;
}

a:link { 
    text-decoration: underline;
    color: var(--link-color);
}

a:visited { 
    text-decoration: none; 
    color: var(--link-color);
}

a:hover { 
    text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
}




a.home,a.about:link {
    text-decoration: underline; 
    color: var(--link-color);
}

a.home,a.about:visited {
    text-decoration: underline; 
    color: var(--link-color);
}



/* 
a:link.dark-theme{ 
    text-decoration: underline;
    color: var(--link-color);
}

a:visited.dark-theme{ 
    text-decoration: underline;
    color: var(--link-color);
} */


/* FILTER LINKS /////////////////////////////*/

a.filterButton:link {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 10px 0 10px;
    border: solid;
    display: inline-block;
    transition: transform .1s ease-out, color 0.5s ease-in-out;
}

a.filterButton:visited { 
    text-decoration: none; 
    color: var(--text-color);
}

a.filterButton:hover { 
    text-decoration: none;
    transform: translateY(4px);
}

a.filterButton:focus { 
    text-decoration: none; 
}


a.filterButtonActive:link {
    background: var(--text-color);
    color: var(--bkg-color);
    border-color: var(--text-color);
    transition: all 0.5s ease-in-out;
}

a.filterButtonActive:visited {
    background: var(--text-color);
    color: var(--bkg-color);
    border-color: var(--text-color);
}




.btn-toggle {
    background: var(--text-color);
    border: solid;
    margin-left: 25px;
    position: absolute;
    bottom: 25px;
    transition: all 0.5s ease-in-out;
}





main {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.scrollTracker {
    position: fixed;
    top: 50%;
}

section {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.leftCol{
    width: 335px;
}

.rightCol{
    width: calc(100% - 335px);
    min-width: 50%;
}

nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: var(--bkg-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
    border-bottom: solid;
}

.home {
    margin-left: 25px;
}

.about {
    margin-right: 25px;
}


.filter {
    margin-left: 25px;
    /* line-height: 2; */
}




/* .content {
    margin-top: 70px;
} */

.numContainer {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 59px [col-start]);
    justify-content: center;
    /* background-color: orange; */
}

.numButton {
    display: grid;
    margin: 2.5px;
    justify-items: center;
    align-items: center;
}

.num, .circle {
    grid-column: 1;
    grid-row: 1;
    transition: all 0.5s ease-in-out;
}

.num{
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    text-align: center;
    color: var(--text-color);
    width: 50px;
    height: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    border-color: var(--bkg-color);
    /* border-color: #515151; */
    /* border-width: 2px; */
}

.numButtonActive {
    transition: transform .7s ease-in-out;
  }
.numButtonActive:hover {
    transform: rotate(360deg);
    cursor: pointer;
}




.project {
    padding: 60px 0 60px 25px;
    border-bottom: solid;
    color: var(--text-color);
    border-left: solid;
    transition: all 0.5s ease-in-out;
}

.year {
    margin-left: 10px;
}

.imageScroll {
    display: flex;
    overflow-x: scroll;
    height: 70vh;
    width: 100%;
    cursor: ew-resize;
}

.imageScroll > img {
    height: 100%;
    margin-right: 10px;
}

.projectDescription {
    display: flex;
}

.summary {
    width: 50%;
}

.projectDescriptionSpacer {
    width: 10%;
}

.projectDetails {
    width: 18%;
}


@media only screen and (max-width: 800px) {
    main {
        display: flex;
        height: auto;
    }

    nav {
        position: fixed;
    }

    .numContainer {
        /* visibility: hidden;
        clear: both;
        display: none; */
    }

    .leftCol {
        width: 100%;
        border-bottom: solid;
        padding-bottom: 70px;
    }

    .rightCol{
        width: 100%;
        min-width: 50%;
    }

    .project {
        padding: 60px 25px 60px 25px;
        border-bottom: solid;
        /* border-left: solid; */
    }

    .imageScroll {
        display: flex;
        overflow-x: scroll;
        height: 40vh;
        width: 100%;
    }

    .projectDescription {
        display: block;
    }

    .summary {
        width: 100%;
        
    }
    
    .projectDescriptionSpacer {
        width: 0%;
    }
    
    .projectDetails {
        width: 100%;
    }
}
