html, body {
    margin:0;
    padding:0;
}

.bkg {
    /*  */
    --bkg-color: #F5F5F5;
}

.dark .bkg {
    /* --text-color: white; */
    --bkg-color: #1E1E1E;
}

.text {
    --text-color: #1E1E1E;
}

.dark .text {
    --text-color: #F5F5F5;
}

.transition-class {
    transition: all 0.5s ease-in-out;
}

body {
background: var(--bkg-color);
/* transition: all 0.5s ease-in-out; */
}

h1, h2 {
color: var(--text-color);
/* transition: all 0.5s ease-in-out; */
}

/* TEXT //////////////////////////////////////*/
h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    /* color: var(--text-color); */
}

h2, button, span {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    /* color: var(--text-color); */
}


/* LINKS ////////////////////////////////////*/
.link {
    --link-color: blue;
}

.dark .link {
    --link-color: #FCFF69;
}

/* a {
    transition: all 0.5s ease-in-out;
} */

a:link { 
    text-decoration: underline;
    color: var(--link-color);
}

a:visited { 
    text-decoration: none; 
    color: var(--link-color);
}

a:hover { 
    text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
}




a.home,a.about:link {
    text-decoration: underline; 
    color: var(--link-color);
}

a.home:hover ,a.about:hover {
    text-decoration: none; 
    color: var(--link-color);
}

a.home,a.about:visited {
    text-decoration: underline; 
    color: var(--link-color);
}



/* 
a:link.dark-theme{ 
    text-decoration: underline;
    color: var(--link-color);
}

a:visited.dark-theme{ 
    text-decoration: underline;
    color: var(--link-color);
} */



input[type=checkbox] {
    visibility: hidden;
}

.toggle {
    height: 20px;
    width: 20px;
    background: var(--bkg-color);
    color: var(--text-color);
    border: solid;
    /* border-width: thin; */
    border-radius: 50%;
    /* padding: 0 10px 0 10px; */
    /* margin-left: 25px; */
    position: absolute;
    /* bottom: 75px; */
    right: 25px;
    transition: transform .1s ease-out; 
}

.toggle:hover {
    background: var(--text-color);
    cursor: pointer;
    /* transform: translateY(4px); */
}

.aboutContainer {
    display: flex;
    align-items: center;
    /* width: 100px; */
    /* margin-right: 45px; */
}


/* FILTER LINKS /////////////////////////////*/

a.filterButton:link {
    text-decoration: none;
    background: var(--bkg-color);
    color: var(--text-color);
    padding: 0 10px 0 10px;
    border: solid;
    /* border-width: thin; */
    display: inline-block;
    transition: transform .1s ease-out; 
    /* color 0.5s ease-in-out; */
}

a.filterButton:visited { 
    text-decoration: none; 
    color: var(--text-color);
}

a.filterButton:hover { 
    text-decoration: none;
    transform: translateY(4px);
}

a.filterButton:focus { 
    text-decoration: none; 
}


a.filterButtonActive:link {
    background: var(--text-color);
    color: var(--bkg-color);
    border-color: var(--text-color);
    transition: transform .1s ease-out;
    /* background 0.5s ease-in-out, color 0.5s ease-in-out; */
}

a.filterButtonActive:visited {
    background: var(--text-color);
    color: var(--bkg-color);
    border-color: var(--text-color);
}

a.filterButtonActive:hover { 
    text-decoration: none;
    transform: translateY(4px);
}




/* #toggle {
    background: var(--text-color);
    border: solid;
    margin-left: 25px;
    position: absolute;
    bottom: 25px;
} */




 /* label {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -3px;
    background: #ccc;
}
.checkbox-example input[type=checkbox]:checked + label {
    left: 27px;
} */







main {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.scrollTracker {
    position: fixed;
    top: 50%;
}

section {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.leftCol{
    width: 335px;
    /* border-right: solid; */
    /* border-width: thin; */
    color: var(--text-color);
}

.rightCol{
    width: calc(100% - 336.5px);
    min-width: 50%;
    /* border-left: solid; */
    /* top: 50px; */
}

.nav-top {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: var(--bkg-color);
    color: var(--text-color);
    border-bottom: solid;
    /* border-width: thin; */
}

.nav-bottom {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 50px;
    bottom: 0;
    /* background: var(--bkg-color); */
    color: var(--text-color);
    /* border-top: solid; */
    /* border-width: thin; */
}

.home {
    margin-left: 25px;
}

.about {
    margin-right: 55px;
}

.copyright {
    margin-right: 25px;
}


.filter {
    padding-top: 10px;
    margin-left: 25px;
}





.numContainer {
    padding-top: 72px;
    padding-right: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 59px [col-start]);
    justify-content: center;
    /* background-color: orange; */
}

.numButton {
    display: grid;
    margin: 2.5px;
    justify-items: center;
    align-items: center;
    /* border: solid; */
    width: 56px;
}

.num, .circle {
    grid-column: 1;
    grid-row: 1;
}

.num{
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    text-align: center;
    color: var(--text-color);
    width: 50px;
    height: 50px;
    /* border: solid; */
    /* transition: all 0.5s ease-in-out; */
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    /* border-width: thin; */
    color: var(--bkg-color);
}

.circle:focus {
    transition: none;
}

.numButtonActive {
    transition: transform .7s ease-in-out;
  }

.numButtonActive:hover {
    transform: rotate(360deg);
    cursor: pointer;
}




/* .rightContent:first-child {
    padding-top: 50px;
} */

.project:last-of-type {
    border-bottom: none;
    /* padding-bottom: 50px; */
}

.project {
    padding: 50px 0 60px 0px;
    border-bottom: solid;
    /* border-width: thin; */
    color: var(--text-color);
    /* border-left: solid; */
    /* transition: all 0.5s ease-in-out; */
}

.year {
    margin-left: 10px;
}

.imageScroll {
    display: flex;
    overflow-x: scroll;
    height: 65vh;
    cursor: ew-resize;
}

.imageScroll > img, video {
    height: 100%;
    margin-right: 10px;
}

.projectDescription {
    display: flex;
}

.summary {
    width: 50%;
}

.projectDescriptionSpacer {
    width: 10%;
}

.projectDetails {
    width: 18%;
}

.scrollToTop {
    visibility: hidden;
        clear: both;
        display: none;
}


@media only screen and (max-width: 800px) {
    html {
        scroll-behavior: smooth;
    }
    
    main {
        display: flex;
        height: auto;
    }

    .nav-top {
        /* border-width: 1.5px; */
        position: fixed;
    }

    .nav-bottom {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .numContainer {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .leftCol {
        width: 100%;
        background-color: var(--bkg-color);
        color: var(--text-color);
        border-top: solid;
        /* border-width: thin; */
        position: fixed;
        bottom: 0;
        height: 90px;
    }

    .scrollToTop {
        visibility: unset;
        clear: unset;
        display: unset;
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        right: 15px;
        bottom: 15px;
        background-image: url(assets/up-arrow-black.png);
        background-position: 50% 50%;
        background-size: contain;
        transition: transform .7s ease-in-out;
    }

    .scrollDark {
        background-image: url(assets/up-arrow-white.png);
    }

    .home {
        margin-left: 15px;
    }

   

    .about {
        margin-right: 35px;
    }


    .filter {
        position: fixed;
        padding-top: 0;
        bottom: 3px;
        margin-left: 15px;
    }

    .toggle {
        right: 15px;
        
        position: fixed;
    }

    .rightCol{
        width: 100%;
        min-width: 50%;
        padding-bottom: 40px;
    }

    .project {
        padding: 60px 15px 60px 15px;
        border-bottom: solid;
        /* border-width: thin; */
    }

    .imageScroll {
        display: flex;
        overflow-x: scroll;
        height: 23vh;
        width: 100%;
    }

    .projectDescription {
        display: block;
    }

    .summary {
        width: 100%;
    }
    
    .projectDescriptionSpacer {
        width: 0%;
    }
    
    .projectDetails {
        width: 100%;
    }
}


/* @media only screen and (max-width: 1300px) {
    .projectDescription {
        display: block;
    }

    .summary {
        width: 100%;
        
    }

    .projectDescriptionSpacer {
        width: 0%;
    }

    .projectDetails {
        width: 100%;
    }

} */